.chat-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.purple-bg {
  background-color: #6f42c1 !important;
  color: #fff !important;
}

.coach-border {
  border: 4px solid #8d61de !important;
  border-radius: 30% !important;
}